streams:
  stable:
    type: production
  testing:
    type: production
  next:
    type: production
  testing-devel:
    type: development
    default: true
    env:
      COSA_TESTISO_DEBUG: true
  # next-devel:         # do not touch; line managed by `next-devel/manage.py`
    # type: development # do not touch; line managed by `next-devel/manage.py`
  rawhide:
    type: mechanical
    env:
      COSA_TESTISO_DEBUG: true
    osbuild_experimental: true
  # branched:
  #  type: mechanical
  #  env:
  #    COSA_USE_OSBUILD: true
  # bodhi-updates:
  #   type: mechanical
  # bodhi-updates-testing:
  #   type: mechanical

additional_arches: [aarch64, ppc64le, s390x]

source_config:
  url: https://github.com/coreos/fedora-coreos-config

s3:
  bucket: fcos-builds
  # see bucket layout in https://github.com/coreos/fedora-coreos-tracker/issues/189
  builds_key: "prod/streams/${STREAM}"
  # just upload as public-read for now, but see discussions in
  # https://github.com/coreos/fedora-coreos-tracker/issues/189
  acl: public-read

registry_repos:
  oscontainer:
    repo: quay.io/fedora/fedora-coreos
    tags: ["${STREAM}", "${VERSION}"]
  kubevirt:
    repo: quay.io/fedora/fedora-coreos-kubevirt
    tags: ["${STREAM}"]

default_artifacts:
  all:
    - metal
    - metal4k
    - live
    - openstack
  aarch64:
    - applehv
    - aws
    - azure
    - gcp
    - hyperv
  ppc64le:
    - powervs
  s390x:
    - ibmcloud
  x86_64:
    - aliyun
    - applehv
    - aws
    - azure
    - azurestack
    - digitalocean
    - exoscale
    - gcp
    - hyperv
    - ibmcloud
    - kubevirt
    - nutanix
    - virtualbox
    - vmware
    - vultr

clouds:
  aws:
    bucket: fcos-builds/ami-import
    primary_region: us-east-1
    # we make our images public in the release job via plume
    public: false
    # Accounts to share newly created AMIs with
    # Added the FCOS community account so kola can use for testing
    grant_users:
      - "013116697141"
    # Add FedoraGroup=coreos as per Fedora Policy
    # Ref: https://github.com/coreos/fedora-coreos-tracker/issues/1605
    tags:
      - "FedoraGroup=coreos"
  azure:
    test_resource_group: fedora-coreos-testing
    test_storage_account: fedoracoreostesting
    test_storage_container: fedora-coreos-testing-image-blobs
    test_architectures: [x86_64]
  gcp:
    bucket: fedora-coreos-cloud-image-uploads/image-import
    description: "Fedora, Fedora CoreOS ${STREAM}, ${BUILDID}, ${BASEARCH} published on ${DATE}"
    family:
      x86_64: "fedora-coreos-${STREAM}"
      aarch64: "fedora-coreos-${STREAM}-arm64"
    public: true
    licenses:
      - "fedora-coreos-${STREAM}"
      - "https://compute.googleapis.com/compute/v1/projects/vm-options/global/licenses/enable-vmx"
  openstack:
    test_architectures: [x86_64, aarch64]

misc:
  versionary: true
  generate_release_index: true
  run_extended_upgrade_test_fcos: true
