streams:
    stable:
      type: production
      skip_additional_arches:
        # https://github.com/coreos/fedora-coreos-tracker/issues/1247#issuecomment-1261286872
        - ppc64le
    testing:
      type: production
      skip_additional_arches:
        # https://github.com/coreos/fedora-coreos-tracker/issues/1247#issuecomment-1261286872
        - ppc64le
    next:
      type: production
      skip_additional_arches:
        # https://github.com/coreos/fedora-coreos-tracker/issues/1247#issuecomment-1261286872
        - ppc64le
    testing-devel:
      type: development
      default: true
    # next-devel:         # do not touch; line managed by `next-devel/manage.py`
      # type: development # do not touch; line managed by `next-devel/manage.py`
    rawhide:
      type: mechanical
      skip_artifacts:
        all:
          # https://github.com/coreos/fedora-coreos-tracker/issues/1429
          - hashlist-experimental
    branched:
      type: mechanical
      skip_artifacts:
        all:
          # https://github.com/coreos/fedora-coreos-tracker/issues/1429
          - hashlist-experimental
    # bodhi-updates:
    #   type: mechanical
    # bodhi-updates-testing:
    #   type: mechanical

additional_arches: [aarch64, ppc64le, s390x]

source_config:
  url: https://github.com/coreos/fedora-coreos-config

s3:
  bucket: fcos-builds
  # see bucket layout in https://github.com/coreos/fedora-coreos-tracker/issues/189
  builds_key: "prod/streams/${STREAM}"
  # just upload as public-read for now, but see discussions in
  # https://github.com/coreos/fedora-coreos-tracker/issues/189
  acl: public-read

registry_repos:
  oscontainer: quay.io/fedora/fedora-coreos

versionary_hack: true

default_artifacts:
  all:
    - metal
    - metal4k
    - live
    - openstack
    - hashlist-experimental
  aarch64:
    - aws
    - azure
  ppc64le:
    - powervs
  s390x:
    - ibmcloud
  x86_64:
    - aliyun
    - aws
    - azure
    - azurestack
    - digitalocean
    - exoscale
    - gcp
    - ibmcloud
    - nutanix
    - virtualbox
    - vmware
    - vultr

clouds:
  aws:
    bucket: fcos-builds/ami-import
    primary_region: us-east-1
    # we make our images public in the release job via plume
    public: false
    # Accounts to share newly created AMIs with
    grant_users:
      - "013116697141"
  azure:
    test_resource_group: fedora-coreos-testing
    test_storage_account: fedoracoreostesting
    test_storage_container: fedora-coreos-testing-image-blobs
    test_architectures: [x86_64]
  gcp:
    bucket: fedora-coreos-cloud-image-uploads/image-import
    description: "Fedora, Fedora CoreOS ${STREAM}, ${BUILDID}, ${BASEARCH} published on ${DATE}"
    family: "fedora-coreos-${STREAM}"
    public: true
    licenses:
      - "fedora-coreos-${STREAM}"
      - "https://compute.googleapis.com/compute/v1/projects/vm-options/global/licenses/enable-vmx"
  openstack:
    test_architectures: [x86_64, aarch64]

misc:
  generate_release_index: true
