streams:
    stable:
      type: production
    testing:
      type: production
    next:
      type: production
    testing-devel:
      type: development
      default: true
    # next-devel:         # do not touch; line managed by `next-devel/manage.py`
      # type: development # do not touch; line managed by `next-devel/manage.py`
    rawhide:
      type: mechanical
    branched:
      type: mechanical
    # bodhi-updates:
    #   type: mechanical
    # bodhi-updates-testing:
    #   type: mechanical

additional_arches: [aarch64, ppc64le, s390x]
