apiVersion: v1
kind: Template
labels:
  app: fedora-coreos
  template: fedora-coreos-template
metadata:
  annotations:
    description: |-
      Jenkins pipeline for Fedora CoreOS.
    iconClass: icon-jenkins
    openshift.io/display-name: Fedora CoreOS Pipeline
    openshift.io/documentation-url: https://github.com/coreos/fedora-coreos-pipeline
    openshift.io/support-url: https://github.com/coreos/fedora-coreos-pipeline
    openshift.io/provider-display-name: Fedora CoreOS
    tags: fcos,jenkins,fedora
  name: fedora-coreos
parameters:
  - description: Git source URI for Jenkins jobs
    name: JENKINS_JOBS_URL
    value: https://github.com/coreos/fedora-coreos-pipeline
  - description: Git branch/tag reference for Jenkins jobs
    name: JENKINS_JOBS_REF
    value: main
  - description: Prefix to prepend to resources
    name: DEVELOPER_PREFIX
    value:
  - description: Git source URI for FCOS config
    name: FCOS_CONFIG_URL
    value: https://github.com/coreos/fedora-coreos-config
  - description: Git branch/tag reference for FCOS config
    name: FCOS_CONFIG_REF
    value: # empty -> based on stream
  - description: Size of the PVC to create
    name: PVC_SIZE
    value: 100Gi
  - description: Image of coreos-assembler to use
    name: COREOS_ASSEMBLER_IMAGE
    # for now we just follow :main, but we may start freezing if things become
    # too unstable
    value: quay.io/coreos-assembler/coreos-assembler:main
  - description: AWS S3 bucket in which to store builds (or blank for none)
    name: S3_BUCKET
    value: fcos-builds
  - description: GCP GS bucket to use for image uploads (or blank for none)
    name: GCP_GS_BUCKET
    value: fedora-coreos-cloud-image-uploads

objects:

  ### COREOS-ASSEMBLER ###

  # keep a local copy of coreos-assembler so we're not constantly pulling it
  # each time from quay.io
  - apiVersion: v1
    kind: ImageStream
    metadata:
      name: ${DEVELOPER_PREFIX}coreos-assembler
      annotations:
        coreos.com/deploy-default: "true"
    spec:
      lookupPolicy:
        # this allows e.g. the pipeline to directly reference the imagestream
        local: true
      tags:
        - name: main
          from:
            kind: DockerImage
            name: ${COREOS_ASSEMBLER_IMAGE}
          importPolicy:
            scheduled: true
          referencePolicy:
            type: Local

  ### PVC ###

  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: coreos-assembler-claim2
      annotations:
        coreos.com/deploy-default: "true"
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: ${PVC_SIZE}
      storageClassName: ocs-storagecluster-ceph-rbd

  ### FEDORA COREOS BUILD PIPELINE ###

  - kind: BuildConfig
    apiVersion: "build.openshift.io/v1"
    metadata:
      name: ${DEVELOPER_PREFIX}fedora-coreos-pipeline
      # We use annotations as a way to pass information from the bc (and thus
      # from `oc new-app/process` time) to the Groovy code. This allows us to
      # centralize all the major knobs in this file for easier management.
      # Could also use `oc start-build -e FOO=BAR` for this, but we'd still need
      # to redefine the bc for setting the right repo to the pipeline itself.
      # https://docs.okd.io/latest/dev_guide/builds/build_strategies.html#mapping-buildconfig-jenkins
      annotations:
        coreos.com/deploy-default: "true"
        coreos.com/source-config-url: ${FCOS_CONFIG_URL}
        coreos.com/source-config-ref: ${FCOS_CONFIG_REF}
        coreos.com/developer-prefix: ${DEVELOPER_PREFIX}
        coreos.com/s3-bucket: ${S3_BUCKET}
        coreos.com/gcp-gs-bucket: ${GCP_GS_BUCKET}
    spec:
      # note no triggers: the base pipeline is only ever triggered manually, or
      # by one of the stream-specific pipelines
      source:
        type: Git
        git:
          uri: ${JENKINS_JOBS_URL}
          ref: ${JENKINS_JOBS_REF}
      runPolicy: Parallel
      strategy:
        jenkinsPipelineStrategy:
          type: JenkinsPipeline
          jenkinsfilePath: Jenkinsfile

  ### FEDORA COREOS BUILD PROD PIPELINE ###

  - kind: BuildConfig
    apiVersion: "build.openshift.io/v1"
    metadata:
      name: fedora-coreos-pipeline-production
      annotations:
        coreos.com/deploy-default: "false"
    spec:
      # note no triggers: the prod pipeline is only ever triggered by GitHub
      # pushes to one of the prod branches
      source:
        type: Git
        git:
          uri: ${JENKINS_JOBS_URL}
          ref: ${JENKINS_JOBS_REF}
      strategy:
        jenkinsPipelineStrategy:
          type: JenkinsPipeline
          jenkinsfilePath: Jenkinsfile.production

  ### FEDORA COREOS BUILD DEVEL PIPELINE ###

  - kind: BuildConfig
    apiVersion: "build.openshift.io/v1"
    metadata:
      name: fedora-coreos-pipeline-development
      annotations:
        coreos.com/deploy-default: "false"
    spec:
      triggers:
      - type: ConfigChange
      - type: imageChange
        imageChange:
          from:
            kind: ImageStreamTag
            name: coreos-assembler:main
      source:
        type: Git
        git:
          uri: ${JENKINS_JOBS_URL}
          ref: ${JENKINS_JOBS_REF}
      strategy:
        jenkinsPipelineStrategy:
          type: JenkinsPipeline
          jenkinsfilePath: Jenkinsfile.development

  ### FEDORA COREOS BUILD MECHANICAL PIPELINE ###

  - kind: BuildConfig
    apiVersion: "build.openshift.io/v1"
    metadata:
      name: fedora-coreos-pipeline-mechanical
      annotations:
        coreos.com/deploy-default: "false"
    spec:
      triggers:
      - type: ConfigChange
      # for fedmsg-based triggers
      # use `oc set triggers --from-webhook` to update token to be unique
      - type: Generic
        generic:
          secret: regenerate
      - type: imageChange
        imageChange:
          from:
            kind: ImageStreamTag
            name: coreos-assembler:main
      source:
        type: Git
        git:
          uri: ${JENKINS_JOBS_URL}
          ref: ${JENKINS_JOBS_REF}
      strategy:
        jenkinsPipelineStrategy:
          type: JenkinsPipeline
          jenkinsfilePath: Jenkinsfile.mechanical

  ### FEDORA COREOS RELEASE PIPELINE ###

  - kind: BuildConfig
    apiVersion: "build.openshift.io/v1"
    metadata:
      name: fedora-coreos-pipeline-release
      annotations:
        coreos.com/deploy-default: "false"
        coreos.com/s3-bucket: ${S3_BUCKET}
    spec:
      source:
        type: Git
        git:
          uri: ${JENKINS_JOBS_URL}
          ref: ${JENKINS_JOBS_REF}
      strategy:
        jenkinsPipelineStrategy:
          type: JenkinsPipeline
          jenkinsfilePath: Jenkinsfile.release
      runPolicy: Parallel

  ### FEDORA COREOS STREAM PIPELINE ###

  - kind: BuildConfig
    apiVersion: "build.openshift.io/v1"
    metadata:
      name: fedora-coreos-pipeline-stream-metadata-generator
      annotations:
        coreos.com/deploy-default: "false"
    spec:
      triggers:
      - type: Generic
        generic:
          secret: regenerate
      source:
        type: Git
        git:
          uri: ${JENKINS_JOBS_URL}
          ref: ${JENKINS_JOBS_REF}
      strategy:
        jenkinsPipelineStrategy:
          type: JenkinsPipeline
          jenkinsfilePath: Jenkinsfile.stream.metadata.generator
